<app-my-grid
    [title]="'Manage Customers'"
    [dataList]="customerList"
    [headerList]="headerList"
    [columnList]="columnList"
>

</app-my-grid>
<!-- <div class="card-container">
    <div class="card">
        <div class="card-header bg-warning">
            Manage Customers
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Contact No</th>
                        <th>Email</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customerList">
                        <td>{{customer.id}}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.mobileNo}}</td>
                        <td>{{customer.email}}</td>
                        <td>{{customer.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->