<div class="card-container">
    <div class="card">
        <div class="card-header bg-dark text-white">
            Student Registration            
        </div>
        <div class="card-body">
            <form #frm=ngForm name=frmStudentRegistration (ngSubmit)="save(frm)">
                <div class="row form-group">
                    <div class="col-sm-4">
                        Name
                    </div>
                    <div class="col-sm-4">
                        <input type=text name=name class="form-control" [(ngModel)]="student.name" required #name=ngModel minlength="3"/>
                    </div>
                    <div class="col-4" *ngIf="name.invalid && name.touched">
                        <div *ngIf="name.errors['required']">
                                Name is Mandatory Field.
                        </div>
                        <div *ngIf="name.errors['minlength']">
                                Min 3 Char Require in Name.
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Mobile No
                    </div>
                    <div class="col-sm-4">
                        <input type=text name=mobileNo class="form-control" [(ngModel)]="student.mobileNo" required #mobileNo=ngModel minlength="10" pattern="^[0-9]+$"/>
                    </div>
                    <div class="col-4" *ngIf="mobileNo.invalid && mobileNo.touched">
                        <div *ngIf="mobileNo.errors['required']">
                            Mobile Number is Mandatory Field.
                        </div>
                        <div *ngIf="mobileNo.errors['minlength']">
                            10 Digits is require in Mobile Number Field.
                        </div>
                        <div *ngIf="mobileNo.errors['pattern']">
                            Only Digits Allowed in mobile number.
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Email
                    </div>
                    <div class="col-sm-4">
                        <input type=text name=email class="form-control" [(ngModel)]="student.email" required #email=ngModel email/>
                    </div>
                    <div class="col-4" *ngIf="email.invalid && email.touched">
                        <div *ngIf="email.errors['required']">
                                Email is Mandatory Field.    
                        </div>
                        <div *ngIf="email.errors['email']">
                                Invalid Email Address.
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Course
                    </div>
                    <div class="col-sm-4">
                        <select name="course" class="form-control" [(ngModel)]="student.course">
                            <option>-:Select:-</option>
                            <option *ngFor="let course of courseList" [ngValue]="course">
                                {{course.courseName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        Gender
                    </div>
                    <div class="col-sm-4">
                        <input type=radio name=gender class="radio-inline" value="M" [(ngModel)]="student.gender"/>Male
                        <input type=radio name=gender class="radio-inline" value="F" [(ngModel)]="student.gender"/>FeMale
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        <button class="btn btn-info" [disabled]="frm.invalid">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div *ngIf="isSubmitted">
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <td>{{student.name}}</td>
            </tr>
            <tr>
                <th>Mobile Number</th>
                <td>{{student.mobileNo}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{student.email}}</td>
            </tr>
            <tr>
                <th>Course Name</th>
                <td>{{student.course.courseName}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{student.gender === 'M' ? 'Male' : 'Female'}}</td>
            </tr>
        </table>
    </div>    
</div>