<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
      <button mat-button color="primary">Primary</button>
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </div>
  <div class="row">
    <div class="col">      
      <a [routerLink]="'course'" [routerLinkActive]="'active'">Manage Course</a>
    </div>
  </div>
  <div class="row">
    <div class="col">      
      <button mat-button color="warn" [routerLink]="'courseMaterial'" [routerLinkActive]="'active'">Manage Course Material</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->